#our-logo {
    max-width: 12rem;
}

.page-header {
    padding: 35px 0 8px 15px;
}

.page-header-questions {
    padding: 35px 0 8px 0px;
}

.sidebar .sidebar-brand {
    padding: 3.6rem 1rem;
}

.toggler {
    text-align: right !important;
    margin-right: 2rem;
    margin-top: 15rem;
}

@media (max-width: 767px) {
    #our-logo {
        content: url("../img/our-logo-collapsed.png");
        max-width: 4rem;
    }
}

.our-subheading {
    margin-top: 2rem;
}

.img-responsive {
    width: 100%;
}

.card-header-data {
    background-color: #ffffff !important;
    border-bottom: none;
}

#chart-container {
    height: 400px; 
}

.thead-light th {
    background-color: #f5f7ff !important;
}

.border-left-pink {
    border-left: 0.25rem solid #e83e8c !important;
}

.border-left-orange {
    border-left: 0.25rem solid #fd7e14 !important;
}

.border-left-green {
    border-left: 0.25rem solid #1cc88a !important;
}

.border-left-blue {
    border-left: 0.25rem solid #36b9cc !important;
}

.text-pink {
    color: #e83e8c !important;
}
.text-orange {
    color: #fd7e14 !important;
}
.text-green {
    color: #1cc88a !important;
}
.text-blue {
    color: #36b9cc !important;
}

.sidebar-dark .nav-item .nav-link {
    color: white;
    font-weight: bold;
}

.sidebar-dark .nav-item .nav-link i {
    color: white;   
}

.container-fluid {
    padding-left: 2.5rem;
}

.page-header {
    margin-left: -16px;
}

.about-page-header {
    margin-left: 0px;
}

.push-right {
    margin-left: 0.7rem !important;
}

.sidebar {
    width: 18rem !important;
}