#our-logo {
    max-width: 14rem;
}

.page-header {
    padding: 35px 0 8px 0;
}

.sidebar .sidebar-brand {
    padding: 3.6rem 1rem;
}

.toggler {
    text-align: right !important;
    margin-right: 2rem;
    margin-top: 15rem;
}

@media (max-width: 767px) {
    #our-logo {
        content: url("../img/our-logo-collapsed.png");
        max-width: 4rem;
    }
}