.row {
  column-width:inherit;
}

.col {
  max-width: 100%;
  align-content: center;
}

img {
  max-width: inherit;
  max-height: inherit;
  width: 100%;
  height: 100%;
}

.col-xl-8 {
    flex: 0 0 100%;
    max-width: 100%;
}
